.App {
  text-align: center;
  font-size: 2vh;
}

.MarkUpandDown{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2vh;
}

.input{
  font-size: 2.5vh;
  padding:20px;
  text-align: left;
  height: 80%;
  width: auto;
}

.Preview{
  text-align: left;
  padding:20px;
}
